# Dependencias
node_modules/

# Variables de entorno
.env

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Angular
Frontend/.angular/
Frontend/dist/

# Archivos temporales
*.tmp
*.swp
